{% extends 'base.html.twig' %}


{% block meta %}
    {% if excuses|length == 0 %}
    <meta http-equiv="refresh" content="2; URL={{path('index')}}">
    {% endif %}
{% endblock %}


{% block body %}

{% if excuses|length == 0 %}
    <p>Cette référence n'existe pas</p>
{% else %}   
    <table>
        <tr>
            <th>id</th>
            <th>http_code</th>
            <th>Tag</th>
            <th>Message</th>
        </tr>
        {% for excuse in excuses %}
        <tr>
            <td>{{ excuse.id }}</td>
            <td>{{ excuse.httpcode }}</td>
            <td>{{ excuse.tag }}</td>
            <td>{{ excuse.message }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}